@keyframes pulse {
    0%   { opacity: 0.30; }
    25%  { opacity: 0; }
    75%  { opacity: 0; }
    100% { opacity: 0.30; }
}

body, html {
    height: 100%;
}

body {
    background-color: rgb(255, 255, 252);
    font-family: 'Open Sans', sans-serif;
}

.Layout_Root,
.Layout_Content {
    height: 100%;
}

.Layout_Root {
    display: flex;
    justify-content: center;
}

.Layout_Content {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin-top: 3%;
}

.Match_Participants {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.Match_Participant {
    color: rgb(190, 190, 190);
}

.Match_Participant--Playing {
    color: rgb(0, 0, 0);
}

.Match_Participant_Title {
    font-size: 48px;
    font-family: 'EB Garamond', serif;
}

.Board_Tile_Face {
    shape-rendering: crispEdges;
    stroke: rgba(0, 0, 0, 0.15);
    stroke-width: 0.20px;
}

.Board_Tile--Selectable {
    cursor: pointer;
}

.Board_Tile--Selectable .Board_Tile_Face--Overlay {
    animation: pulse 1250ms ease-in infinite;
}

.Board_Tile--Selected .Board_Tile_Face--Overlay {
    opacity: 0.80;
}

.Board_Tile_Face--Overlay {
    opacity: 0;
}
