body {
    font-family: sans-serif;
}

@keyframes pulse {
    0%   { background-color: rgba(0, 0, 0, 0.00); }
    25%  { background-color: rgba(0, 0, 0, 0.10); }
    75%  { background-color: rgba(0, 0, 0, 0.10); }
    100% { background-color: rgba(0, 0, 0, 0.00); }
}

.MatchElements {
    margin-left: 32px;
    margin-top: 32px;
    max-width: 265px;
}

.MatchElements__Participants {
    display: flex;
    justify-content: space-between;
}

.MatchElements__Participant {
    color: #bbb;
}

.MatchElements__Participant--active {
    color: #000;
}

.MatchElements__Victor {
    margin-top: 8px;
    text-align: center;
}

.MatchElements__Board {
    border-bottom: 1px dotted #ddd;
    border-left: 1px dotted #ddd;
    display: flex;
    flex-direction: column;
    height: 264px;
    width: 264px;
}

.MatchElements__BoardTileRow {
    display: flex;
}

.MatchElements__BoardTile {
    align-items: center;
    border-right: 1px dotted #ddd;
    border-top: 1px dotted #ddd;
    cursor: default;
    display: flex;
    font-family: 'Consolas', monospace;
    height: 24px;
    justify-content: center;
    text-align: center;
    white-space: pre;
    width: 24px;
}

.MatchElements__BoardTile--selected {
    background-color: rgba(0, 0, 0, 0.10);
}

.MatchElements__BoardTile--selectable {
    animation: pulse 1250ms ease-in-out infinite;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.10);
}
